<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Information Form</title>
    <link rel="stylesheet" th:href="@{/CSS/StaffDetails.css}"></link>
</head>
<body>
    <div class="form-container">
        <form id="staffForm" action="/admin/regStaff" method="post">
            <h2>Staff Information</h2>
            <div class="form-group">
                <label for="staffNumberPojo">Staff Number</label>
                <input type="text" id="staffNumberPojo" name="staffNumberPojo" required>
            </div>
            <div class="form-group">
                <label for="staffNamePojo">Staff Name</label>
                <input type="text" id="staffNamePojo" name="staffNamePojo" required>
            </div>
            <div class="form-group">
                <label for="staffDesignationPojo">Staff Designation</label>
                <input type="text" id="staffDesignationPojo" name="staffDesignationPojo" required>
            </div>
            <div class="form-group">
                <label for="staffMobileNumberPojo">Staff Mobile Number</label>
                <input type="tel" id="staffMobileNumberPojo" name="staffMobileNumberPojo" required>
            </div>
            <div class="form-group">
                <label for="staffMailIdPojo">Staff Email ID</label>
                <input type="email" id="staffMailIdPojo" name="staffMailIdPojo" required>
            </div>
            <button >Submit</button>
        </form>
    </div>
    
</body>
</html>
